<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://studentftk.tk:3306/student?zeroDateTimeBehavior=convertToNull&amp;characterEncoding=utf8</property>
    <property name="hibernate.connection.username">fromlocalhost</property>
    <property name="hibernate.connection.password">f4ub6QvpzC2cHquz</property>
    <property name="hibernate.connection.CharSet">utf8</property>
    <property name="hibernate.connection.characterEncoding">utf8</property>
    <property name="hibernate.connection.useUnicode">true</property>
    <property name="c3p0.min_size">5</property>
    <property name="c3p0.max_size">20</property>
    <property name="c3p0.timeout">1800</property>
    <property name="c3p0.max_statements">50</property>
    <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property> 
    <mapping class="server.entity.Message"/>
    <mapping class="server.entity.User"/>
    <mapping class="server.entity.Place"/>
    <mapping class="server.entity.Friend"/>
    <mapping class="server.entity.Checkin"/>
    <mapping class="server.entity.FriendsGroup"/>
    <mapping class="server.entity.Comment"/>
  </session-factory>
</hibernate-configuration>
